__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
.env

.ipynb_checkpoints/

data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

results/experiments/*
results/summary/*
results/figures/*
!results/experiments/.gitkeep
!results/experiments/exp_01/
!results/experiments/exp_20/
!results/experiments/exp_01/.gitkeep
!results/experiments/exp_20/.gitkeep
!results/summary/.gitkeep
!results/figures/.gitkeep

*.xlsx
*.xls
*.csv
*.json
*.png
*.jpg
*.jpeg
